@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

@font-face {
  font-family: "Calculator";
  src: url("asset/font/digital/digital-7.ttf") format("truetype");
}

@font-face {
  font-family: "Calculator mono";
  src: url("asset/font/digital/digital-7-mono.ttf") format("truetype");
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
}

tr {
  border-bottom: 1px solid rgba(119, 119, 119, 0.7);
}

.currencyName {
  background: rgba(119, 119, 119, 0.7);
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.titleMoney {
  font-family: Calculator;
  font-size: 60px;
  text-align: left;
  font-weight: bold;
}

.montant {
  font-family: Calculator;
  margin: 5px 20px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

.titleWelcome{
  font-family: "Calculator mono"
}

.table_buy {
  text-align: center;
  font-size: 25px;
}